@model CadastroDinamico.Core.TabelaCore

@section Stylesheets {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
    <style>
        h2 {
            font-size: 25px;
        }

        .m-botom {
            margin-bottom: 10px;
        }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-outline-secondary m-botom" onclick="javascript:history.go(-1)">Voltar</button>
            <br />
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Filtro 1</label>
                <input id="selDatabases" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Filtro 2</label>
                <input id="selDatabases" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Filtro 3</label>
                <input id="selDatabases" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-sm">
                <table id="tableDadosFiltro" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            @for (int coluna = 0; coluna < Model.Colunas.Count; coluna++)
                            {
                                <th>
                                    @Model.Colunas[coluna].Nome
                                </th>
                            }
                            <th>
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int linha = 0; linha < Model.ValoresMultilinha.QtdLinhas; linha++)
                        {
                            <tr>
                                @for (int coluna = 0; coluna < Model.ValoresMultilinha.QtdColunas; coluna++)
                                {
                                    <td>
                                        @if (Model.Colunas[coluna].Tipo.ToUpper() == "BIT")
                                        {
                                            @Html.CheckBox(Model.Colunas[coluna].Nome, Convert.ToBoolean(Model.ValoresMultilinha.GetValor(linha, coluna).ToString()),
                                                new { @class = "checkbox", onclick = "this.checked=!this.checked;" })

                                        }
                                        else
                                        {
                                            @Model.ValoresMultilinha.GetValor(linha, coluna).ToString()
                                        }
                                    </td>
                                }
                                <td>
                                    @{ string url = string.Format("/CadDinamico/TelaDinamicaAlteracao?database={0}&schema={1}&tabela={2}&pk={3}", Model.Database, Model.Schema, Model.Nome, Model.MontarUrlChavesPrimarias(linha)); }
                                    <a role="button" href="@url">Editar</a> |
                                    <a role="button" href="@url">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr />
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/cadDinamicoIndex.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/cadDinamicoIndex.min.js"></script>
    </environment>
}