@{
    ViewData["Title"] = "TelaDinamica";
}
@model CadastroDinamico.Core.TabelaCore

@section StyleSheets {
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-select/bootstrap-select.min.css" />
}

<div class="row">
    <div class="col-md-12">
        <h2>Cadastro Dinâmico</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-12">
        <form method="post" action="/CadDinamico/GravarItem/">
            @Html.AntiForgeryToken()

            @Html.Hidden("Database", Model.Database, new { @class = "form-control" })
            @Html.Hidden("Schema", Model.Schema, new { @class = "form-control" })
            @Html.Hidden("Tabela", Model.Nome, new { @class = "form-control" })
            @Html.Hidden("pk", Model.GetPk(), new { @class = "form-control" })

            @if (Model.QuantidadeCampos > 0)
            {
                for (int cont = 0; cont < Model.QuantidadeCampos; cont++)
                {
                    var nome = Model.Colunas[cont].NomeInput;
                    var valor = string.Empty;

                    if (Model.Colunas[cont].IsChaveEstrangeira)
                    {
                        <div class="form-group">
                            <label for="@nome">@Model.Colunas[cont].Nome</label>
                            <select name="@nome" id="@nome" class="form-control">
                                @if (Model.Colunas[cont].AceitaNull)
                                {
                                    <option value="0">-- SELECIONE --</option>
                                }
                                @for (int cont2 = 0; cont2 < Model.Colunas[cont].ListaSelecao.Count; cont2++)
                                {
                                    if (Model.Colunas[cont].ListaSelecao[cont2].Descricao.ToString() == @ViewBag.Valores[cont].ToString())
                                    {
                                        <option selected="selected" value="@Model.Colunas[cont].ListaSelecao[cont2].ChavePrimaria">@Model.Colunas[cont].ListaSelecao[cont2].Descricao</option>
                                    }
                                    else
                                    {
                                        <option value="@Model.Colunas[cont].ListaSelecao[cont2].ChavePrimaria">@Model.Colunas[cont].ListaSelecao[cont2].Descricao</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "INT" ||
                                Model.Colunas[cont].Tipo.ToUpper() == "BIGINT" ||
                                Model.Colunas[cont].Tipo.ToUpper() == "SMALLINT" ||
                                Model.Colunas[cont].Tipo.ToUpper() == "TINYINT")
                    {
                        <div class="form-group">
                            <label for="@nome">@Model.Colunas[cont].Nome</label>
                            @if (Model.Colunas[cont].IsChavePrimaria && ViewBag.Alterar)
                            {
                                <input type="number" class="form-control" id="@nome"
                                        name="@nome" value="@ViewBag.Valores[cont].ToString()" disabled="disabled" />
                            }
                            else
                            {
                                <input type="number" class="form-control" id="@nome"
                                        name="@nome" value="@ViewBag.Valores[cont].ToString()" />
                            }
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "DECIMAL" ||
                                Model.Colunas[cont].Tipo.ToUpper() == "FLOAT")
                    {
                        valor = ViewBag.Valores[cont].ToString().Replace(".", "").Replace(",", ".");

                        <div class="form-group">
                            <label for="@nome">@Model.Colunas[cont].Nome</label>
                            @if (Model.Colunas[cont].IsChavePrimaria && ViewBag.Alterar)
                            {
                                <input class="form-control input-decimal" id="@nome"
                                        name="@nome" value="@valor" disabled="disabled" onkeydown="tratarKeyDown(event)"/>
                            }
                            else
                            {
                                <input class="form-control input-decimal" id="@nome"
                                        name="@nome" value="@valor" onkeydown="tratarKeyDown(event)"/>
                            }
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "DATETIME")
                    {
                        <div class="form-group">
                            <label for="@nome">
                                @Model.Colunas[cont].Nome
                            </label>
                            <input type="datetime" class="form-control input-data" id="@nome"
                                    name="@nome" value="@ViewBag.Valores[cont].ToString()" />
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "DATE")
                    {
                        <div class="form-group">
                            <label for="@nome">
                                @Model.Colunas[cont].Nome
                            </label>
                            <input type="date" class="form-control" id="@nome"
                                    name="@nome" value="@ViewBag.Valores[cont].ToString()" />
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "TIME")
                    {
                        <div class="form-group">
                            <label for="@nome">
                                @Model.Colunas[cont].Nome
                            </label>
                            <input type="time" class="form-control" id="@nome"
                                    name="@nome" value="@ViewBag.Valores[cont].ToString()" />
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "BIT")
                    {
                        <div class="form-group">
                            <div class="checkbox" style="margin-bottom: 15px;">
                                @if (ViewBag.Valores[cont].ToString().ToUpper() == "TRUE" ||
                            ViewBag.Valores[cont].ToString().ToUpper() == "1")
                                {
                                    <input type="checkbox" id="@nome" name="@nome" checked="checked">
                                }
                                else
                                {
                                    <input type="checkbox" id="@nome" name="@nome">
                                }
                                <label for="@nome">@Model.Colunas[cont].Nome</label>
                            </div>
                        </div>
                    }
                    else if (Model.Colunas[cont].Tipo.ToUpper() == "VARCHAR" ||
                        Model.Colunas[cont].Tipo.ToUpper() == "NVARCHAR" ||
                        Model.Colunas[cont].Tipo.ToUpper() == "CHAR" ||
                        Model.Colunas[cont].Tipo.ToUpper() == "NCHAR")
                    {
                        <div class="form-group">
                            <label for="@nome">@Model.Colunas[cont].Nome</label>
                            <input type="text" class="form-control" id="@nome" name="@nome" value="@ViewBag.Valores[cont].ToString()">
                        </div>
                    }
                }
            }
            <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6 col-6">
                    <button type="submit" class="btn btn-primary" title="Salvar"><i class="fas fa-save"></i></button>
                    <a role="button" class="btn btn-outline-secondary" href="@ViewBag.UrlBack" title="Voltar"><i class="fas fa-hand-point-left"></i></a>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-6 text-right">
                    @{ string parametrosDownload = string.Format("/CadDinamico/DownloadHtmlTelaDinamicaAlteracao?database={0}&schema={1}&tabela={2}&pk={3}", Model.Database, Model.Schema, Model.Nome, Model.GetPk()); }
                    <a role="button" class="btn btn-outline-secondary m-botom" href="@parametrosDownload" title="Download Html">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/bundles/js/cadDinamicoTratamentoInputs.min.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            setMaskDateTime('.input-data');
        });
    </script>
}
